@model ActividadViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Crear Usuarios";
}
<div class="align-content-xl-center">
    <h2>Nuevo Usuario</h2>
    <form asp-action="Insert" method="post">
        <div class="form-group">
            <label asp-for="id_asignado">Email</label>
            <input class="form-control" type="email" asp-for="id_asignado" required />
        </div>
        <div class="form-group">
            <label asp-for="id_asignado">Password</label>
            <input class="form-control" type="password" asp-for="id_asignado" required />
        </div>
        <div class="form-group">
            <label asp-for="id_asignado">Nombre</label>
            <input class="form-control" type="text" asp-for="id_asignado" required />
        </div>
        <div class="form-group">
            <label asp-for="id_asignado">Apellidos</label>
            <input class="form-control" type="text" asp-for="id_asignado" required />
        </div>
        <div class="form-group">
            <label asp-for="id_asignado">Tipo Usuario</label>
            <select class="form-control" asp-for="id_asignado">
                <option class="form-control" value="1" asp-for="tipo_usuario">SuperAdministrador</option>
                <option class="form-control" value="2" asp-for="tipo_usuario">Administrador</option>
                <option class="form-control" value="3" asp-for="tipo_usuario">Desarrollador</option>
            </select>
        </div>
        <div>
            <button class="btn btn-outline-success" type="submit"> Guardar</button>
        </div>

    </form>
</div>